.gitignore
.terraform.lock.hcl
# Arquivos de configuração do Terraform
*.tfstate
*.tfstate.backup
*.tfvars

# Diretório .terraform gerado pelo Terraform
.terraform/

# Arquivos de log
terraform.log

# Arquivos de exceção
terraform.tfstate.lock.info